:root {
    font-family: Roboto, sans-serif;
    font-size: 16px;  
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

header {
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 70px;
    background-color: grey;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.headerimg {
    max-height: 70px;
}

header ul {
    display: flex;
    flex: row wrap;
    color: whitesmoke;
    text-decoration: none;
}

header li {
    margin-right: 1.2rem;
=======
>>>>>>> eaecabf8c0256f87591c77e38435dfc8dba393dd
}